* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Fredoka One", cursive;
}

.question {
  text-align: center;
  margin-top: 35px;
  color: #f0cf2b;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.inputs-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  .option {
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    width: 150px;
    margin: 20px;
    color: white;
    background-color: #51bbe8;
    font-size: 20px;
    transition: 300ms;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.recommendation {
  font-size: 40px;
  .first {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .second {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 750ms;
    opacity: 0;
    animation-fill-mode: forwards;
    color: #fb8404;
  }
}

.try-again {
  position: relative;
  width: 250px;
  background-color: #f54a33;
  height: 70px;
  font-size: 40px;
  color: white;
  border: 0;
  border-radius: 10px;
  margin-top: 50px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 750ms;
  animation-fill-mode: forwards;
  opacity: 0;
  transition-duration: 300ms;
  &:hover {
    transform: scale(1.2);
  }
}