<!-- Questions -->
<div class="question-container">
    <h2 class="question">{{ askQuestion(questionNumber) }}</h2>

    <div class="inputs-container" *ngIf="questionNumber === 1">
        <button class="option" *ngFor="let option of optionSetOne" (click)="setInput(option, questionNumber)">
            {{option.name}}
        </button>
    </div>

    <div class="inputs-container" *ngIf="questionNumber === 2">
        <button class="option" *ngFor="let option of optionSetTwo" (click)="finishQuestionairre(option)">
            {{option.name}}
        </button>
    </div>

</div>

<!-- Recommendation -->
<div class="recommendation-container">
    <h2 class="recommendation" *ngIf="questionNumber === 3">
        <span class="first">I recommend </span>
        <span class="second">{{showRecommendation()}}</span>
    </h2>

    <!-- Try again button -->
    <button class="try-again" *ngIf="questionNumber === 3" (click)="resetQuestions()">Try again</button>
</div>