@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Fredoka One", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #6d32a8;
  .title {
    display: block;
    text-align: center;
    color: #fc8403;
    position: relative;
    font-size: 80px;
    bottom: 90px;
    animation-name: slideIn;
    animation-duration: 2.5s;
    opacity: 100;
    animation-fill-mode: forwards;
  }
  .start-button {
      width: 300px;
      background-color: #f54a33;
      height: 80px;
      font-size: 40px;
      color: white;
      border: 0;
      border-radius: 10px;
      border-color: white;
      border-width: 5px;
      transition: 300ms;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 500ms;
      opacity: 0;
      animation-fill-mode: forwards;
      &:hover {
          transform: scale(1.1);
      }
      &:active {
          background-color: #38d662;
      }
  }
  .questions {
      display: none;
  }
}

@keyframes slideIn {
    0% {
        bottom: 150px;
        opacity: 0;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 100;
    }
}
